.photo-grid {
  max-width: 1184px;
  padding: 0 48px 0;
  align-content: center;
  margin: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1023px) {
  .photo-grid {
   max-width: 928px;
   gap: 14px;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: 352px 352px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 319px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    grid-template-columns: 288px;
    padding: 0 16px 0;
  }
}
