.places {
  max-width: 984px;
  text-align: center;
  margin: 0 auto 0;
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 928px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 720px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 319px) {
  .places {
    max-width: 320px;
    margin: 0;
  }
}
