.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  text-align: left;
  max-width: 690px;
  padding-top: 40px;
  padding-bottom: 33px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 319px) {
  .intro__text {
    max-width: 288px;
    padding-bottom: 34px;
  }
}
