.intro {
  margin-left: 148px;
  margin-top: 0;
  margin-bottom: 92px;
  padding: 0;
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0px 48px 92px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 319px) {
  .intro {
    max-width: 288px;
    margin: 0 16px 64px;
  }
}
