.footer {
  display: grid;
  grid-template-columns: auto auto;
  width: 1183px;
  align-self: center;
  margin: 0;
  justify-content: space-between;
  padding: 0 48px 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 720px;
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 319px) {
  .footer {
    max-width: 186px;
    grid-template-columns: 100px;
    grid-template-rows: repeat(6, 1fr);
    padding: 0 16px 118px 24px;
    justify-items: start;


  }
}
