.footer {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1184px;
  align-self: center;
  justify-content: space-between;
  margin: 0 auto 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 720px;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width: 319px) {
  .footer {
    max-width: 186px;
    grid-template-columns: 100px;
    margin-left: 16px;
    margin-right: 0;
    justify-items: start;
  }
}
