.footer {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1183px;
  align-self: center;
  margin: 0;
  justify-content: space-between;
  padding: 0 48px 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 720px;
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 319px) {
  .footer {
    max-width: 186px;
    grid-template-columns: 100px;
    padding-left: 16px;
    padding-right: 0;
    justify-items: start;
    margin: 0;

  }
}
